name: CI

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"
          cache: true

      - name: Go fmt
        run: |
          test -z "$(gofmt -l .)"

      - name: Go vet
        run: go vet ./...

      - name: Go test
        run: go test ./... -race -count=1

      - name: Go build
        run: go build ./...